#photo {
    background-image: url('https://basket-04.wbbasket.ru/vol435/part43510/43510854/images/big/1.webp');
}

#tab1 {
    background-image: url('Bag.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

#tab2 {
    background-image: url('Bag2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#tab3 {
    background-image: url('Bag3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}