.product--card--section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    > .product--card--section--cards {
        flex: 1 1 auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 15px;
    }

}

.ant-card-cover {
    > img { 
        max-height: 400px;
    }
}


.card--block { 
    position: relative;
    min-width: 250px;
    max-width: 380px;

    > .card--block--button {
        width: 50px;
        height: 50px;
        border-radius:50%;
        z-index: 99;
        position: absolute;
        border: none;
        right: 0%;

        &:hover {
            background-color: lightblue;
        }
    }
}

#single--card {
    width: 22vw;
    flex: 1 1 auto;
    min-width: 330px;
}

@media (max-width: 1400px) {
    .product--card--section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    
        > .product--card--section--cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 25px;
            row-gap: 15px;
        }
    
    }

    #single--card {
        width: 29vw;
        flex: 1 1 auto;
        min-width: 330px;
    }
}

@media (max-width: 1000px) {
    .product--card--section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    
        > .product--card--section--cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 25px;
            row-gap: 15px;
        }
    
    }

    #single--card {
        width: 40vw;
        flex: 1 1 auto;
        min-width: 330px;
    }
}

@media (max-width: 680px) {
    .product--card--section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        > .product--card--section--cards {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
    }

    #single--card {
        width: 80vw;
        flex: 1 1 auto;
        max-width: 400px;   
    }
}

@media (max-width: 500px) {
    .card--block { 
        position: relative;
        min-width: 300px;
    
        > .card--block--button {
            width: 70px;
            height: 70px;
        }}
}