#main--header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    z-index: 999;
    background-color: white;

    > .main--header {
        flex: 1 1 auto
    }
    
    > .search--form {
        flex: 1 1 auto;
    }

    > #main--navigator {
        color: red;
    }
}

@media (max-width: 690px) {
    #main--header {
        display: flex;
        flex-direction: column;

        .main-header-logo {
            width: 20px;
        }
    }
}