
.product--demonstration {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
    transition: 300ms all;
    gap: 5px;

    > .product--demonstration-frist {
        background-color: red;

    }

    > .product--demonstration-second {
        background-color: blue;
    }

    > .product--demonstration-third {
        background-color: green;
    }
}

.product--demonstration:has(.product--demonstration-frist:hover) {
    grid-template-columns: 5fr 1fr 1fr;
}

.product--demonstration:has(.product--demonstration-second:hover) {
    grid-template-columns:  1fr 5fr 1fr;
}

.product--demonstration:has(.product--demonstration-third:hover) {
    grid-template-columns:  1fr 1fr 5fr;
}


.product--slider {
    display: flex;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    > .aside--photos {
        > ul {
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;

          > li {
            list-style-type: none;
          }
        }
    }
}

.product--info {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;

    > .about--product {
        flex: 1 1 auto;
        padding: 0 10px;
    }
}

@media (max-width: 750px) {
    
    .product--info {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 1em;
        gap: 25px;

        > .about--product {
            flex: 1 1 auto;
            padding: 0 10px;
        }
    }
}


#current--photo {
    height: 400px;
    width: 400px;
}